.container {
  margin: 30px auto;
  width: 800px;
  padding: 25px;
  font-family: arial, sans-serif;
}
h1 {
  color: rgb(0, 140, 255);
  font-size: 32px;
  line-height: 26px;
  text-align: right;
  font-family: arial, sans-serif;
  font-weight: 400;
  margin: 20px 0 10px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
  font-family: arial, sans-serif;
  line-height: 1;
  list-style: none;
}
.btn-primary {
  background-color: white;
  color: rgb(0, 140, 255);
}
.btn-success {
  background-color: rgb(0, 140, 255);
  color: white;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background-color: #fffd8d;
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.temperature {
  font-family: arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #202124;
  display: inline-block;
  line-height: 1;
}
.units {
  position: relative;
  top: -24px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.day {
  text-align: right;
  color: rgb(0, 140, 255);
  font-size: 16px;
}
.sun {
  text-align: right;
  color: rgb(0, 140, 255);
  font-size: 16px;
}
.search-form {
  margin-bottom: 30px;
}

.humidity {
  color: rgb(0, 140, 255);
  font-size: 18px;
}
.wind {
  color: rgb(0, 140, 255);
  font-size: 18px;
}
.link-source {
  margin-left: 80px;
}
.weather-forecast {
  margin: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
